@use "@/scss/breakpoints" as *;

.wrapper {
  width: 1300px;
  margin: 0 auto;
  height: 200px;
  display: flex;
  align-items: center;
  padding: 2rem;
  gap: 1rem;
  position: relative;
  z-index: 1;
  @include breakpoint(md) {
    max-width: 1100px;
  }
  @include breakpoint(sm) {
    max-width: 100%;
  }
  .text {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    .label {
      font-size: 18px;
      position: relative;
      z-index: 2;
      transition: all 200ms ease-in-out;
      font-style: italic;
      font-weight: 600;
    }

    .projectLink {
      font-size: 3rem;
      font-weight: 700;
      position: relative;
      z-index: 2;
      transition: all 200ms ease-in-out;
      text-decoration: underline;
    }
  }
  .arrow {
    margin-left: auto;
    width: fit-content;
    min-width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    transition: all 200ms ease-in-out;
    transition-delay: 0.2s;
    @include breakpoint(sm) {
      display: none;
    }
    svg {
      max-width: 30%;
      path {
        transition-delay: 0.2s;
      }
    }
  }
}
