:root {
 --primary-dark: #f1f2f3;
 --primary-light: #242631;
 --secondary-dark: #1f222c;
 --secondary-light: #F3F3F3;
 --accent: #1a78c6;
 --green: #30e3ca;
 --scrollBG: #0d0d0e;
 --fs-xl: 4.5rem;
 --fs-600: 1.5rem;
 --fs-500: 1.25rem;
 --fs-400: 1rem;
}

@media (max-width: 1200px) {
 :root {
  --fs-xl: 3.8rem;
  --fs-600: 1.5rem;
  --fs-500: 1.15rem;
  --fs-400: 1rem;
}
}

@media (max-width: 900px) {
 :root {
  --fs-xl: 2.2rem;
  --fs-600: 1.5rem;
  --fs-500: 1.15rem;
  --fs-400: 1rem;
}
}