@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");

.homepage {
  width: 100vw;
  height: 90%;
  color: var(--primary-light);
  font-family: "Poppins", sans-serif;
  display: flex;
  background-color: var(--primary-dark);

  .left {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 22rem;

    .title {
      height: 50%;
      width: 100%;
      display: flex;
      position: relative;
      flex-direction: column;
      justify-content: flex-start;
      font-weight: bold;
      span {
        color: pink;
        position: relative;
        animation: move-text 0.75s forwards;
        font-size: var(--fs-xl);
        bottom: -1em;
        opacity: 0;
        color: var(--primary-light);
        &:nth-child(2n) {
          color: var(--primary-light);
        }
      }

      @keyframes move-text {
        0% {
          bottom: -0.2em;
          opacity: 1;
        }
        50% {
          bottom: 0.2em;
        }
        100% {
          bottom: 0;
          opacity: 1;
        }
      }
      .btn-container {
        width: 100%;
        margin: 2rem auto;
        display: flex;

        button {
          padding: 1rem 2.5rem;
          font-size: var(--fs-500);
          border: none;
          margin-right: 1rem;
          background-color: var(--accent);
          color: white;
          text-decoration: none;
          transition: all 0.5s ease-in-out;
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15),
            0 6px 6px rgba(0, 0, 0, 0.23);
          cursor: pointer;
          position: relative;

          &:before {
            content: '';
            background-color: rgb(132, 162, 222);
            width: 0%;
            height: 100%;
            position: absolute;
            transition: all 200ms ease-in-out;
            left: 0;
            top: 0;

          }
          &:hover {
            transition: all 0.5s ease-in-out;
            box-shadow: none;
            color: white;
          &:before {
            animation: btn-anim 0.45s forwards;

          }
          }
        }

        
      @keyframes btn-anim {
        // 0% {
        //   bottom: -0.2em;
        //   opacity: 1;
        //   width: 10%;
        // }
        // 50% {
        //   bottom: 0.2em;
        //   width: 50%;
        // }
        100% {
          opacity: 0;
          width: 100%;
          
          
        }
      }
      }
    }
  }
}

@media only screen and (max-width: 1615px) {
  .homepage {
    padding: 0;
    .left {
      padding: 0 10rem;

      .title {
        h1 {
          
        }
      }
      .btn-container {
        a {
          padding: 14px 40px;
          font-size: 1.2rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 1500px) {
  
  .homepage {
    padding: 0;
    .left {
      padding: 0 7rem;
      .title {
        padding: 0;
        h1 {
          
        }
      }
      .btn-container {
     
        a {
          padding: 14px 40px;
          font-size: 1.2rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 1145px) {
  
  .homepage {

    .left {
      width: 100%;
      .title {
        h1 {
        }
      }
      .btn-container {

        a {
          padding: 14px 40px;
          font-size: 1.2rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .homepage {
    .left {
      width: 100%;
      padding: 0 2rem;
      .title {
        width: 100%;
        span {
        }
      }
      .btn-container {
        display: flex;

        a {
          padding: 14px 40px;
          font-size: 1.2rem;
          margin-right: 0.5rem;
          margin-left: 0.5rem;
        }
      }
    }
  }
}
